<!-- <h1>Welcome to Home Page</h1> -->

<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a> &nbsp;
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a> &nbsp;

    <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a> &nbsp;
    <a routerLink="/admin-login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a> &nbsp;
    <a routerLink="/api" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Route Resolver</a> &nbsp;
    <a routerLink="/reactive" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">RXJS</a> &nbsp;
    <a routerLink="/httpresource" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Http Resource</a> &nbsp;
    <a routerLink="/signal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Signals</a> &nbsp; 
    <a routerLink="/linkedsignal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Linked Signals</a> &nbsp; 
    <a routerLink="/parent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Parent-Child(Input)</a> &nbsp; 
    <a routerLink="/parentdemo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Parent-Child2(Two-way)</a> &nbsp;
    <a routerLink="/parentdemo2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Parent-Child3(Output)</a> 
</nav>

<br>

<h3>Home Page Content Goes here.</h3>

    <h3>User List</h3>
    <ul>
      <li *ngFor="let user of users">{{ user.name }}</li>
    </ul>


    <!-- <h2>Top 5 Posts</h2> -->

<ul>
  <li *ngFor="let p of posts">
    <h3>{{ p.title }}</h3>
    <p>{{ p.body }}</p>
    <hr>
  </li>
</ul>

<h2>Post</h2>

<form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">
  <input type="text" name="title" ngModel placeholder="Title"><br>
  <input type="text" name="body" ngModel placeholder="Body"><br>
  <button type="submit">Submit</button>
</form>


<h2>PUT</h2>

<form (ngSubmit)="onUpdate(updateForm)" #updateForm="ngForm">

  <label>Title:</label>
  <input type="text" name="title" ngModel placeholder="Enter Title" required><br>

  <label>Body:</label>
  <input type="text" name="body" ngModel placeholder="Enter Body" required><br>

  <button type="submit">Update</button>
</form>


<h2>PATCH</h2>


<form (ngSubmit)="onPatch(patchForm)" #patchForm="ngForm">

  <label>Title:</label>
  <input type="text" name="title" ngModel placeholder="Enter Title"><br>

  <label>Body:</label>
  <input type="text" name="body" ngModel placeholder="Enter Body"><br>

  <button type="submit">Update (PATCH)</button>
</form>


<h2>DELETE</h2>

<form (ngSubmit)="onDelete(deleteForm)" #deleteForm="ngForm">

  <label>Enter Post ID to Delete:</label>
  <input type="number" name="id" ngModel placeholder="Enter ID" required><br>

  <button type="submit">DELETE</button>
</form>


<router-outlet></router-outlet>